* {
    padding: 0;
    margin: 0;
    background-color: #18181b;
    color: #f8fafc;
    font-family: sans-serif;
}

button {
    border-radius: 8px;
    padding: 2px 8px;
    background-color: #a6a6ad;
    color: #f8fafc;
    border: none;
    outline: rgb(117, 118, 118) solid 2px;
}

button:active {
    background-color: #101010;
    outline: rgb(170, 173, 173) solid 2px;
}

button:focus-visible {
    outline: rgb(239, 247, 247) solid 4px;
}

button:hover {
    background-color: #49494b;
}

h1 {
    padding-bottom: 24px;
}

html {
    margin: auto;
    padding: 16px;
    min-width: 300px;
    max-width: 512px;
}

input {
    border-radius: 8px;
    padding: 4px;
    border: none;
    outline: rgb(117, 118, 118) solid 2px;
}

input:focus-visible {
    outline: rgb(239, 247, 247) solid 4px;
}

li {
    padding-top: 8px;
}

ul {
    padding-left: 24px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}

.heading {
    font-size: large;
}

.meter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.meter div {
    width: 100%;
    min-height: 16px;
    background-color: #585656;
    border-radius: 4px;
    border: none;
    outline: #101010 solid 2px;
}

.rules {
    margin-top: 24px;
}
